@import "~bootstrap/scss/bootstrap.scss";

.Background {
  background-image: url(https://www.ptvgroup.com/typo3conf/ext/ptv_theme/Resources/Public/Styles/images/swoosh.svg);
  background-repeat: no-repeat;
  background-position-x: right;
}